@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

// Fonts
$Public-Sans-Regular: "public sans", sans-serif;

//Color
$White: #FFFFFF;
$Gray: #808080;
$Black: #000000;

$Bg-Blue: #0d0745;

$Bg-Dark-Blue: #060322;